<br/>
<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4 homepage-content">
    <%= render partial: 'form' %>
    <br/>
    <br/>
    <div class='motto'>
      Explore these actions via <%= link_to 'Analytics', audit_rails.analytics_audits_url %>
    </div>
    <br/>
    <%= render partial: 'show' if @user %>
  </div>
  <div class="col-sm-4">
    <h3 class='subheader homepage-heading'>All users</h3>
      <ul class='homepage-content'>
        <% @users.each do |user| %>
          <li><%= link_to user.name, user %></li>
        <% end %>
      </ul>
    <br/>
  </div>
  <div class="col-sm-2">
  </div>
</div>
