<div class="small-4">
  <h3>Users</h3>
  <%= link_to 'Add new user', new_user_path %>
  <br/><br/>
  <ul class="no-bullet">
    <li>
      <ul>
        <% @users.each do |user| %>
          <li><%= link_to user.name, user %></li>
        <% end %>
      </ul>
    </li>
  </ul>
  <br/>
</div>
