<div class='rows homepage-content'>
  <%=link_to 'Audit Rails', 'https://github.com/gouravtiwari/audit_rails' %> is an action based Auditor, which has internal as well as outgoing link tracking capability.
</div>
<br/>
<div class='rows homepage-content'>
It is inspired from many great audit gems in rails community that audits model. This one goes one step further. Roughly it is doing similar to what Omniture or Google analytics does, the biggest benefit is the audited data is your baby. So no more security concerns! Yay!
</div>
<br/>
<div class='rows homepage-content'>
Checkout these features in Audit Reports section in <%= link_to 'Analytics', audit_rails.analytics_audits_path %>
</div>
<br/>
<div class='rows homepage-content'>
  <h3 class="subheader homepage-heading">About the Author</h3>
  <%=link_to 'Gourav Tiwari', 'https://github.com/gouravtiwari' %> is a full stack web developer. He is an agilistic-rubyist, who loves to explore different languages, so far knows Ruby, PHP, JavaScript &amp; C.
  <br/>
  <br/>
  He has spoken to few conferences/meetups as well:
  <ul class='homepage-content'>
    <li>
      Confoo.CA conference 2012 on Testing is fun!
    </li>
    <li>
      Agile Alliance conference 2011 on Team to Wow Team!
    </li>
    <li>
      Agile NYC meetup group
    </li>
    <li>
      RubyNuby NYC meetup group
    </li>
  </ul>
</div>
