@font-face {
  font-family: HelveticaNeueLTStdLtCn;
  src: url(font-path('HelveticaNeueLTStd-LtCn.otf')) format('opentype');
}
@font-face {
  font-family: HelveticaNeueLTStdUltLtCn;
  src: url(font-path('HelveticaNeueLTStd-UltLtCn.otf')) format('opentype');
}