.header-container,.footer-container{
  background-color: #33aeb8;
  border: none;
  right: 0;
  left: 0;
}
.navbar-bottom{
  padding-top: 62px;
}
.justified-row{
  text-align: center;
}
.footer-container{
  bottom: 0;
  left:0;
  position:fixed;
}
.footer{
  font-size: 10px;
  padding: 20px;
  color: #ffffff;
  bottom:0;
}
#totalVisitors, #uniqueVisitors{
  height: 240px;
  width: 240px;
  float: left;
}
.content{
  margin-top: 120px;
}
.left{
  float: left;
}