.header-container,.footer-container{
  background-color: #33aeb8;
  border: none;
  right: 0;
  left: 0;
}
.navbar-bottom{
  padding-top: 62px;
}
.justified-row{
  text-align: center;
}
.justified-row-container{
  text-align: center;
  position: relative;
  min-height: 280px;
}
.row.feature-section{
  min-height: 380px;
}
.footer-container{
  bottom: 0;
  left:0;
  position: fixed;
}
.footer{
  font-size: 10px;
  padding: 20px;
  color: #ffffff;
  bottom:0;
}
#totalCount, #uniqueCount{
  height: 230px;
  width: 220px;
  float: left;
}
#totalVisitors, #uniqueVisitors{
  padding-top: 80px;
  font: 72px HelveticaNeueLTStdUltLtCn;
}
.visitor-label{
  font: 24px HelveticaNeueLTStdUltLtCn;
}
#visitorCount{
  position: absolute;
  top: 0px;
  left: 25%;
  z-index: 100;
  color: white;
}
.content{
  margin-top: 120px;
  padding-bottom: 70px;
}
.left{
  float: left;
}
.motto{
  font-family: HelveticaNeueLTStdLtCn;
  font-size: 24px;
}
h3.homepage-heading{
  font-family: HelveticaNeueLTStdLtCn;
  font-weight: bold;
  font-size: 24px;
}
h4.homepage-heading{
  font-family: HelveticaNeueLTStdLtCn;
  font-weight: bold;
  font-size: 20px;
}

ul.homepage-content li,
ol.homepage-content li,
.homepage-content{
  font-family: HelveticaNeueLTStdLtCn;
  font-size: 18px;
}
ul.error-explanation{
  margin:0;
  padding:0
}
ul.error-explanation li{
  color: red;
  list-style-type: none;;
}
.field_with_errors input{
  border-color: #F778A1;
}
.notice{
  color: green;
}
.download-count{
  background-color: #33aeb8;
  min-width: 100px;
  max-width: 150px;
  text-align: center;
  color: white;
  padding: 4px 6px 1px 6px;
  border-radius: 5px;
  background: -webkit-linear-gradient(#33aeb8, #2C8D94); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#33aeb8, #2C8D94); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#33aeb8, #2C8D94); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#33aeb8, #2C8D94); /* Standard syntax (must be last) */
}

.gem-counter-spinner{
  padding: 2px;
}