.top-header{
  background-color: #33aeb8;
  border: none;
}
.navbar-bottom{
  padding-top: 62px;
}
.justified-row{
  text-align: center;
}
.footer{
  margin-top: 20px;
  background-color: #33aeb8;
  font-size: 10px;
  height: 50px;
  padding: 20px;
  color: #ffffff;
  border-radius: 5px;
}
#totalVisitors, #uniqueVisitors{
  height: 240px;
  width: 240px;
  float: left;
}
