<li class="<%= selected('users', ['index', 'show']) %>"><%= link_to 'Visit sample users', users_url %></li>
<li><%= link_to 'logout', logout_url %></li>
<li class="logged-in"><%= link_to "Logged in as #{@current_user.name}", '#'%></li>